PUBLIC_BASE_URL=https://files.towel.codes

# build vars
PUBLIC_REPO_URL=https://github.com/towelcodes/bitzone
PUBLIC_INSTANCE_NAME=files.towel.codes
PUBLIC_INSTANCE_TAGLINE=free file uploads
PUBLIC_INSTANCE_RULES=do not upload nsfw or illegal content.\nthis service is for personal use only.\naccept that your content may disappear at any time.
