S3_ACCESS_KEY_ID=xxx
S3_SECRET_ACCESS_KEY=xxx
S3_ENDPOINT=https://abcd1234.r2.cloudflarestorage.com/bucket
S3_BUCKET=bucket
#UPLOAD_WEBHOOK=https://discord.com/webhook/xxx (optional, sends on upload creation)

#PUBLIC_MAX_SIZE=1048576 (optional, in bytes)
PUBLIC_BASE_URL=https://files.towel.codes
PUBLIC_REPO_URL=https://github.com/towelcodes/bitzone
PUBLIC_INSTANCE_NAME=files.towel.codes
PUBLIC_INSTANCE_TAGLINE=free file uploads
PUBLIC_INSTANCE_RULES=do not upload nsfw or illegal content.\nthis service is for personal use only.\naccept that your content may disappear at any time.
