@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
    font-family: "Zpix";
    src: url("/font/zpix.ttf") format("truetype");
}

@theme {
    --color-bg: var(--color-ctp-base);
    --font-mono: "DM Mono", "JetBrains Mono", monospace;
    --font-sans: "Inter", "Verdana", system-ui, sans-serif;
    --font-display: "Cal Sans", "Inter", system-ui, sans-serif;
    --font-pixel: "Zpix", "nec_apc3";

    --radius: 12px;
    --radius-sm: 10px;

    --animate-hover: hover 0.7s ease-in;
    @keyframes hover {
        to {
            transform: scale(1.2);
        }
    }
}

@layer base {
    html {
        @apply h-full w-full;
    }

    body {
        @apply text-ctp-text
        bg-bg
        w-full
        h-full;
        image-rendering: pixelated;
    }

    a {
        @apply underline hover:no-underline;
    }
}

@layer components {
    .button {
        @apply flex
        gap-2
        *:my-auto
        text-sm
        border-1
        border-solid
        text-ctp-crust
        font-bold
        px-3
        py-2
        hover:bg-transparent
        hover:text-ctp-text
        transition
        disabled:bg-transparent!
        disabled:border-ctp-overlay0!
        disabled:border-dashed!
        disabled:text-ctp-subtext0/40
        active:scale-[80%];
    }
}

@layer utilities {
    .bg-png {
        background: linear-gradient(gray, lightgray);
    }
}
