@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
    font-family: "MS UI Gothic";
    src: url("/font/MS-UIGothic.woff2") format("woff2");
}

@font-face {
    font-family: "Zpix";
    src: url("/font/zpix.ttf") format("truetype");
}

@theme {
    --color-bg: var(--color-ctp-mantle);
    --font-mono: "DM Mono", "JetBrains Mono", monospace;
    --font-sans: "MS UI Gothic", "Verdana", system-ui, sans-serif;
    --font-pixel: "Zpix", "nec_apc3";

    @keyframes bg {
        0%,
        100% {
        }
    }

    --animate-spin: spin 1s ease-in-out infinite;
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

@layer base {
    body {
        @apply text-ctp-text bg-bg;
        image-rendering: pixelated;
    }
    a {
        @apply underline hover:no-underline;
    }
}

@layer components {
    .button {
        @apply flex
        gap-2
        *:my-auto
        text-sm
        border-1
        border-solid
        text-ctp-crust
        font-bold
        px-3
        py-2
        hover:bg-transparent
        hover:text-ctp-text
        transition
        disabled:bg-transparent!
        disabled:border-ctp-overlay0!
        disabled:border-dashed!
        disabled:text-ctp-subtext0/40
        active:scale-[80%];
    }
}

@layer utilities {
    .bg-png {
        background: linear-gradient(gray, lightgray);
    }
}
